<div class="dummy-phone">
        <div class="screen-shot">
          <div class="carousel carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag "screenshoot1.jpg", height: '427', width: '240' %>
              </div>
              <div class="carousel-item">
                <%= image_tag "screenshoot2.jpg", height: '427', width: '240' %>
              </div>
              <div class="carousel-item">
                <%= image_tag "screenshoot3.jpg", height: '427', width: '240' %>
              </div>
              <div class="carousel-item">
                <%= image_tag "screenshoot4.jpg", height: '427', width: '240' %>
              </div>
              <div class="carousel-item">
                <%= image_tag "screenshoot2.jpg", height: '427', width: '240' %>
              </div>
              <div class="carousel-item">
                <%= image_tag "screenshoot3.jpg", height: '427', width: '240' %>
              </div>
            </div>
          
          </div>
        </div>
      </div>